@{
    ViewBag.Title = "Agregar Deportista";
    var paises = ViewBag.Paises as List<Pais>;
    var deportes = ViewBag.Deportes as List<Deporte>;
}

<a class="icon-link icon-link-hover" style="color: black;" href="index">
  Home
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg>
</a>


<section class="form-container">
    <h2>Agregar Nuevo Deportista</h2>
    <form action="@Url.Action("GuardarDeportista", "Home")" method="post">
        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" id="Nombre" name="Nombre" required />
        </div>
        <div class="form-group">
            <label for="Apellido">Apellido</label>
            <input type="text" id="Apellido" name="Apellido" required />
        </div>
        <div class="form-group">
            <label for="FechaNacimiento">Fecha de Nacimiento</label>
            <input type="date" id="FechaNacimiento" name="FechaNacimiento" required />
        </div>
        <div class="form-group">
            <label for="Foto">URL de la Imagen</label>
            <input type="text" id="Foto" name="Foto" required />
        </div>
        <div class="form-group">
            <label for="IdDeporte">Deporte</label>
            <select id="IdDeporte" name="IdDeporte" required>
                <option value="" disabled selected>Seleccione un deporte</option>
                @foreach (var deporte in deportes)
                {
                    <option value="@deporte.IdDeporte">@deporte.Nombre</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="IdPais">País</label>
            <select id="IdPais" name="IdPais" required>
                <option value="" disabled selected>Seleccione un país</option>
                @foreach (var pais in paises)
                {
                    <option value="@pais.IdPais">@pais.Nombre</option>
                }
            </select>
        </div>
        <button type="submit" class="btn-submit">Guardar Deportista</button>
    </form>
</section>
