@{
    ViewBag.Title = ViewBag.Pais.Nombre;
    var pais = ViewBag.Pais as Pais;
    var deportistas = ViewBag.Deportistas as List<Deportista>;
}

<a class="icon-link icon-link-hover" style="color: black;" href="index">
  Home
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg>
</a>


<section class="pais-detalle">
    <div class="pais-info">
        <h2>@pais.Nombre</h2>
        <img src="@pais.Bandera" alt="Bandera de @pais.Nombre" class="pais-bandera">
        <p>Fecha de Fundación: @pais.FechaFundacion.ToString("dd/MM/yyyy")</p>
    </div>

    <section class="deportistas-list">
        <h3>Deportistas de @pais.Nombre</h3>
        <div class="cards-container">
            @foreach (var deportista in deportistas)
            {
                <div class="card">
                    <img src="@deportista.Foto" alt="Foto de @deportista.Nombre @deportista.Apellido" class="card-img">

                    <button class="btn-eliminar" onclick="confirmarEliminacion('@deportista.IdDeportista')">
                        <img src="/img/trash.png">
                    </button>

                    <div class="card-content">
                        <h4>@deportista.Nombre @deportista.Apellido</h4>
                        <p>Fecha de Nacimiento: @deportista.FechaNacimiento.ToString("dd/MM/yyyy")</p>
                        <a href="@Url.Action("VerDetalleDeportista", "Home", new { idDeportista = deportista.IdDeportista })" class="btn-detalle">
                            Ver Detalles
                        </a>
                    </div>
                </div>
            }
        </div>
    </section>
</section>

<script type="text/javascript">
    function confirmarEliminacion(idDeportista) {
        Swal.fire({
            title: '¿Estás seguro que quieres eliminar al deportista?',
            text: "Esta acción no se puede deshacer.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("EliminarDeportista", "Home")' + '?idDeportista=' + idDeportista;
            }
        })
    }
</script>